button {
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 4px;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

#scanPage {
  background-color: #000;
  color: #fff;
  width: auto;
  height: auto;
  padding: 6px;
  border-radius: 12px;
}
