button {
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 4px;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

#scanPage {
  background-color: #1a1a1a;
  color: #fff;
  font-weight: 100;
  width: auto;
  height: auto;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
}

#a11yScanResults {
  overflow-x: hidden;
  overflow-y: scroll;
}

#a11yPageScanned {
  font-weight: 600;
  font-size: 1.5em;
}

footer {
  padding: 12px;
  background-color: #ccc;
}
