html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.goog-te-banner-frame {
  bottom: 0 !important;
  top: unset !important;
  display: none !important;
}

#__next a {
  padding: 0.2em;
}

.grIcon > * {
  stroke: inherit;
}

@media (any-pointer: coarse) {
  #__next a {
    padding: 0.8em;
  }
}
